<div class="container-fluid" ng-controller="loginCtrl">
        <div class="panel panel-default" ng-hide="user" >
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <div ng-show="errorMessage" class="alert alert-warning">
                    {{errorMessage}}
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" id="email" ng-model="email" placeholder="name@domain.com">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
            </div>
        </div>
        <div ng-show="user">
            <img src="{{user.profilePic}}"/>
            <h1>Welcome {{user.name}}</h1>
            <a href="#" ng-click="newPasswordMode = true" ng-hide="newPasswordMode">Change Password</a>
            <div ng-show="newPasswordMode">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" ng-model="newPassword" placeholder="New Password">
                <button>Change</button>
            </div>
        </div>
</div>